@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*Estilos base*/

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  color: #191919;
  min-height: 100vh;
  margin: 0;
}
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*Estilos del logo*/

.logo {
  margin: 1.5rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Estilos en las fuentes*/

h2 {
  font-size: 28px;
  font-weight: 600;
}
h6 {
  font-size: 12px;
  font-weight: 400;
  color: #616161;
}
p {
  font-size: 16px;
  font-weight: 400;
}

/*//////
Estilos del lado izquierdo de la pantalla
////////*/

.scrn-left {
  width: 30rem;
  height: 28rem;
}
#text-area {
  border: none;
  background-color: #e5e5e5;
  outline: none;
  width: 90%;
  margin: 4rem 1rem 0 2rem;
  height: 25rem;
  resize: none;
  overflow: visible;
  font-size: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.buttons {
  display: flex;
  gap: 24px;
}
button {
  display: flex;
  padding: 24px;
  border-radius: 24px;
  width: 14rem;
  height: 3rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#encriptar {
  background-color: #35cdff;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
}
#desencriptar {
  background-color: #f1f1f1;
  border: 1px solid #35cdff;
  color: #616161;
}

/*//////
Estilos del lado derecho de la pantalla
////////*/

.scrn-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  height: 35rem;
  padding: 0.5rem;
  background-color: #f1f1f1;
  box-shadow: 0px 24px 32px -8px #00000014;
  margin: 2rem;
  border-radius: 32px;
}

.scrn-right__img {
  width: 18rem;
  height: 20rem;
}
.mostrar-texto {
  
  margin: 2rem 1rem 0 1rem;

}

/*///////
Media Querys: Diseño Responsivo
/////////*/

@media (max-width: 539px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .scrn-left {
    width: 20rem;
  }
  #text-area {
    height: 10rem;
 
  }

  .scrn-right {
    justify-content: center;
    width: 75%;
    height: auto;
    margin: 0 .5rem 1rem .5rem;
    padding: 28px;
  
  }
 .scrn-right__img{
    display: none;
  }
  .buttons {
    flex-direction: column;
    gap: 10px;
  }
  button {
    width: 18rem;
    margin: auto;
  }
  h2 {
    font-size: 22px;
  }
  .info {
    justify-content: center;
  }
}

@media (min-width: 540px) and(max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and(min-width:768) and(max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and(min-width:1023) and(max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
