body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  color: #191919;
  min-height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/*Estilos en las fuentes*/

h2 {
  font-size: 28px;
  font-weight: 600;
}
h6 {
  font-size: 12px;
  font-weight: 400;
  color: #616161;
}
p {
  font-size: 16px;
  font-weight: 400;
}
/*Estilos del logo y Header*/

.logo {
  background-color: #191919;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo__h2 {
  color: #f1f1f1;
}

/*Estilos del pie de página*/

.footer {
  display: flex;
  background-color: #191919;
  color: #f1f1f1;
  height: 6rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer__h3 {
  font-size: 18px;
  color: #f1f1f1;
}

