/*Estilos del lado derecho de la pantalla*/

.scrn-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 30rem;
    padding: 1rem;
    background-color: var(--font-light);
    box-shadow: 0px 7px 30px -10px var(--font-info);
    margin: 2rem;
    border-radius: 32px;
  }
  
  .scrn-right__img {
    width: 11rem;
    height: 14rem;
  }
  
  .mostrar-texto {
    margin: 0 1rem;
    height: 22rem;
    width: 90%;
    overflow: visible;
    border: none;
    outline: none;
    resize: none;
    background-color: var(--font-light);
    font-size: 20px;
  }
  
  .boton-copiar {
    background-color: var(--font-info);
    color: var(--font-light);
    border: none;
    margin-top: 2rem;
  }
  .boton-copiar:hover{
    background-color: var(--hover-copy);
  }
  .oculto-grande {
    display: none;
  }